@import "./reset.css";

:root {
  --font-family: "Inter", sans-serif;

  --color-light-text: #70747d;
  --color-dark-text: #110e27;
  --bg-light: #f3f5f7;

  --spacing: 20px;
}

body {
  font-family: var(--font-family);
  color: var(--color-light-text);
}
